$pressButtonShadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.2);


* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#searchWeather {
    background-color: darkblue;
    color: white;
    height: 40px;
    border: 0px;
    &:hover {
    background-color: rgb(10, 10, 221);
    box-shadow: $pressButtonShadow;
    
    }
}


.header{

    background-color: lightgrey;

    h1 {
        color: rgb(230, 129, 5);
        margin-left: 10px;
}}


.weatherDataOutput {
    border: solid 1px black;
    margin-top: 50px;
    .cardUpper {
        border: solid 1px black;
        height: 100px;
    }
    .cardLower {
        border: solid 1px black;
        
    }
}

